bin/
include/
lib/
*.pyo
*.pyc

# Java Crap
JavaServer/build/
JavaServer/nbproject/private/
JavaServer/dist/
JavaServer/nbbuild/
JavaServer/nbdist/
JavaServer/nbactions.xml
JavaServer/nb-configuration.xml
JavaServer/.nb-gradle/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
